<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdhxqh.inventorymovement"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SampleTheme" >

        <!-- umeng设置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56721058e0f55af71e004bdd" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BaseActivity"
            android:label="@string/title_activity_base"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoadActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/SampleTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <!-- Update Activitys Start -->
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name=".ui.detailsUi.ItemDetailsActivity"
            android:label="@string/title_activity_item_details"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.detailsUi.InvDetailsActivity"
            android:label="@string/inv_text_title"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.detailsUi.ItemreqDetailsActivity"
            android:label="@string/itemreq_title_text"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.poui.PodetailsActivity"
            android:label="@string/material_receiving"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.PoLineActivity"
            android:label="@string/material_list"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.PolineDetailActivity"
            android:label="@string/material_details"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.pictureui.PictureActivity"
            android:label="@string/title_activity_picture"
            android:parentActivityName=".ui.poui.PodetailsActivity" />
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".ui.InvbalancesActivity"
            android:label="@string/location_zhuangyi" />
        <activity
            android:name=".ui.MatrectransActivity"
            android:label="@string/location_zhuangyi_matrectrans" />
        <activity
            android:name=".ui.LocationsDetailActivity"
            android:label="@string/title_activity_locations_detail" >
        </activity>
        <activity
            android:name=".ui.BinChooseActivity"
            android:label="@string/title_activity_bin" >
        </activity>
        <activity
            android:name=".ui.StorelocChooseActivity"
            android:label="@string/matrectrans_tostoreloc_title" >
        </activity>

        <!-- 库存项目 -->
        <activity
            android:name=".ui.InvbalancesListActivity"
            android:label="@string/title_activity_invbalances_list" />
        <activity
            android:name=".ui.InvbalanceDetailActivity"
            android:label="@string/title_activity_invbalance_detail" />
        <activity
            android:name=".ui.Results_Activity"
            android:label="@string/title_activity_results_" />

        <!-- 二维码扫描 -->
        <activity
            android:name=".ui.MipcaActivityCapture"
            android:label="@string/title_activity_results_" />
        <activity
            android:name=".ui.Results_searchActivity"
            android:label="@string/title_activity_results_search" />
        <activity
            android:name=".ui.CInvbalancesActivity"
            android:label="@string/title_activity_cinvbalances" >
        </activity>
        <activity
            android:name=".ui.CInvbalancesDetailActivity"
            android:label="@string/title_activity_cinvbalances_detail" >
        </activity>
        <activity
            android:name=".ui.WorkOrderDetailsActivity"
            android:label="@string/workorder_detail_title" >
        </activity>
        <activity
            android:name=".ui.InvreserveDetailActivity"
            android:label="@string/workorder_detail_title" >
        </activity>
        <activity
            android:name=".ui.PhotoActivity"
            android:label="@string/workorder_detail_title" >
        </activity>
        <activity
            android:name=".ui.WxDemoActivity"
            android:label="@string/workorder_detail_title" >
        </activity>
        <activity
            android:name=".ui.OptionActivity"
            android:label="@string/workorder_detail_title" >
        </activity>
        <activity
            android:name=".ui.PrintPolineDetailActivity"
            android:label="@string/workorder_detail_title" >
        </activity>
        <activity
            android:name=".ui.PermissionsActivity"
            android:label="@string/permissions" >
        </activity>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cdhxqh.inventorymovement.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
